<span>
  <span *ngIf="activeUser$ | async; let activeUser">
    <span *ngIf="activeUser.userId && article">
      <button mat-button *ngIf="!article.liked" (click)="likeArticle()">Like</button>
      <button mat-button *ngIf="article.liked" (click)="unLikeArticle()">Unlike</button>
    </span>
    <span *ngIf="activeUser.userId && comment">
      <a [routerLink]="" *ngIf="!comment.liked" (click)="likeComment()">Like</a>
      <a [routerLink]="" *ngIf="comment.liked" (click)="unLikeComment()">Unlike</a>
    </span>
  </span>
</span>
