<div>
  <div>
    <a [routerLink]="['/']">Application</a>
  </div>
  <span *ngIf="username$ | async; let username">
    login: {{username}}
  </span>
  <span *ngIf="isAuthenticated$ | async; else loggedOut">
    <div>
      <button (click)="logout()">Logout</button>
    </div>
    <div>
      <a [routerLink]="['/feed-articles']">My feed</a> |
      <a [routerLink]="['/self-articles']">My articles</a> |
      <a [routerLink]="['/articles/new']">New article</a>
    </div>
  </span>
  <ng-template #loggedOut>
    <div>
      <button (click)="signup()">Signup</button>
      <button (click)="login()">Login</button>
    </div>
  </ng-template>
</div>
