<span>
  <span *ngIf="isEdit">
    <form (ngSubmit)="onSubmit()">
      <span *ngIf="activeUser$ | async  as activeUser">
        <ng-container *ngIf="!activeUser.userId">
          author:
          <input [(ngModel)]="comment.authorName" name="text">
        </ng-container>
      </span>
      title:
      <input [(ngModel)]="comment.title" name="text">
      text:
      <input [(ngModel)]="comment.text" name="text">
      <button type="submit">Submit</button>
      <button type="button" (click)="closeEditForm()">Cancel</button>
    </form>
  </span>
</span>
