<span>
  <span *ngIf="isEdit">
    <form (ngSubmit)="onSubmit()" class="form">
      <span *ngIf="activeUser$ | async  as activeUser">
        <ng-container *ngIf="!activeUser.userId">
          author:<br>
          <input [(ngModel)]="comment.authorName" name="text"><br>
        </ng-container>
      </span>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Comment" [(ngModel)]="comment.text" name="text"></textarea>
      </mat-form-field>
      <button mat-button type="submit">Submit</button>
      <button mat-button type="button" (click)="closeEditForm()">Cancel</button>
    </form>
  </span>
</span>
