<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>
        <span>
          <a [routerLink]="['/']">Application</a>
        </span>
        <span *ngIf="isAuthenticated$ | async">
          | <a [routerLink]="['/feed-articles']">My feed</a> |
          <a [routerLink]="['/self-articles']">My articles</a> |
          <a [routerLink]="['/followers']">Followers</a> |
          <a [routerLink]="['/articles/new']">New article</a>
        </span>
      </span>
      <span class="spacer"></span>
      <span>
        <span *ngIf="isAuthenticated$ | async; else loggedOut">
          <span>
            <app-alerts-dialog></app-alerts-dialog>
          </span>
          <span *ngIf="username$ | async; let username">
            login: {{username}}
          </span>
          <button mat-button (click)="logout()">Logout</button>
        </span>
        <ng-template #loggedOut>
          <div>
            <button mat-button (click)="signup()">Signup</button>
            <button mat-button (click)="login()">Login</button>
          </div>
        </ng-template>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
