<div *ngIf="article">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><a [routerLink]="['/authors', article.idAuthor]">{{article.author}}</a></mat-card-title>
      <mat-card-subtitle>{{article.title}}</mat-card-subtitle>
      <mat-card-subtitle>{{article.subject}}</mat-card-subtitle>
      <mat-card-subtitle>
          <span *ngFor="let tag of article.tags; let last = last">
            <a [routerLink]="['/tags', tag]">{{ tag }}</a>
            <span [hidden]='last'>,</span>
          </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{article.content}}</p>
    </mat-card-content>
    <mat-card-actions>
      <app-like-button [article]="article"></app-like-button>
      <app-share-button [id]="unicComponentId"></app-share-button>
      <a [routerLink]="['/articles', id, 'edit']">Edit</a>
      <app-edit-comment [articleId]="id"></app-edit-comment>
      <app-share [id]="unicComponentId" [articleId]="article.id"></app-share>
    </mat-card-actions>
  </mat-card>

  <app-comments [comments]="comments" [forArticle]="true"></app-comments>

</div>
