<div *ngIf="article">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><a [routerLink]="['/authors', article.idAuthor]">{{article.author}}</a></mat-card-title>
      <mat-card-subtitle>{{article.title}}</mat-card-subtitle>
      <mat-card-subtitle>{{article.subject}}</mat-card-subtitle>
      <mat-card-subtitle>
          <span *ngFor="let tag of article.tags; let last = last">
            <a [routerLink]="['/tags', tag]">{{ tag }}</a>
            <span [hidden]='last'>,</span>
          </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div [innerHTML]="content"></div>
    </mat-card-content>
    <mat-card-actions>
      <app-article-actions [article]="article" [componentId]="componentId"></app-article-actions>
    </mat-card-actions>
      <a [routerLink]="['/articles', id, 'edit']">Edit</a>
      <app-article-expandable-panels [article]="article" [componentId]="componentId"></app-article-expandable-panels>
  </mat-card>

  <app-comments [comments]="comments" [forArticle]="true"></app-comments>

</div>
