<div>
  <div *ngIf="!isEdit">
    <button (click)="toggleEditForm()">{{buttonText}}</button>
  </div>
  <div *ngIf="isEdit">
    <form (ngSubmit)="onSubmit()">
      <div *ngIf="activeUser$ | async  as activeUser">
        <ng-container *ngIf="!activeUser.userId">
          author:
          <input [(ngModel)]="comment.authorName" name="text">
        </ng-container>
      </div>
      title:
      <input [(ngModel)]="comment.title" name="text">
      text:
      <input [(ngModel)]="comment.text" name="text">
      <button type="submit">Submit</button>
      <button (click)="toggleEditForm()">Cancel</button>
    </form>
  </div>
</div>
