<span>
  <span *ngIf="!article.sharedArticle">
    <a [routerLink]="['/articles', article.id]">{{article.title}}</a>
    <br>
    Subject: {{article.subject}}
    <br>
  </span>
  <span *ngIf="article.sharedArticle">
    shared article
    <app-shared-article [idSharedArticle]="article.idSharedArticle" [article]="article.sharedArticle"></app-shared-article>
  </span>
  <span *ngIf="!noActions">
    <app-like-button [article]="article"></app-like-button>
    <app-share-button [id]="unicComponentId"></app-share-button>
    Comments: {{article.commentsCount}}
    <app-edit-comment [articleId]="article.id"></app-edit-comment>
    <app-share [id]="unicComponentId" [articleId]="article.id"></app-share>
    <app-article-expand-comments [article]="article"></app-article-expand-comments>
  </span>
  <div>
    <app-likes-counter [article]="article"></app-likes-counter> | Shares: 2 | Comments: {{article.commentsCount}}
  </div>
</span>
