<span>
  <span *ngIf="!article.sharedArticle">
    <a [routerLink]="['/articles', article.id]">{{article.title}}</a>
    <br>
    Subject: {{article.subject}}
    <br>
  </span>
  <span *ngIf="article.sharedArticle">
    shared article
    <app-shared-article [idSharedArticle]="article.idSharedArticle" [article]="article.sharedArticle"></app-shared-article>
  </span>
  <span *ngIf="!noActions">
    <app-like [article]="article"></app-like>
    Comments: {{article.commentsCount}}
    <app-edit-comment [articleId]="article.id"></app-edit-comment>
    <app-article-expand-comments [article]="article"></app-article-expand-comments>
  </span>
</span>
