<div>
  <span *ngIf="forAuthor==false">
    <a [routerLink]="['/authors', comment.idAuthor]">{{comment.authorName}}</a>:
  </span>
  <span *ngIf="forArticle==false">
    Article: <a [routerLink]="['/articles', comment.idArticle]">{{articleTitle}}</a>
  </span>
 {{comment.text}}
  <app-like-button [comment]="comment"></app-like-button>
  <app-edit-comment [articleId]="articleId" [idParentComment]="comment.id"></app-edit-comment>
  <app-expand-comments [comment]="comment"></app-expand-comments>
</div>
