<div>
  <span *ngIf="forAuthor==false">
    <a [routerLink]="['/authors', comment.idAuthor]">{{comment.authorName}}</a>:
  </span>
  <span *ngIf="forArticle==false">
    Article: <a [routerLink]="['/articles', comment.idArticle]">{{articleTitle}}</a>
  </span>
 {{comment.text}}
  <app-likes-counter [comment]="comment"></app-likes-counter>
  <app-like-button [comment]="comment"></app-like-button>
  <app-add-comment-button [id]="componentId" [isForArticle]="false"></app-add-comment-button>
  <app-expand-comments [comment]="comment"></app-expand-comments>
  <app-edit-comment [articleId]="articleId" [idParentComment]="comment.id" [id]="componentId"></app-edit-comment>
</div>
