<mat-card>
  <mat-card-header>
    <span *ngIf="forArticle==false">
      <a [routerLink]="['/articles', comment.idArticle]">{{articleTitle}}</a>
    </span>
  </mat-card-header>
  <mat-card-content>
    <span *ngIf="forAuthor==false">
      <a [routerLink]="['/authors', comment.idAuthor]">{{comment.authorName}}</a>:
    </span>
    {{comment.text}}
    <app-likes-counter [comment]="comment"></app-likes-counter>
  </mat-card-content>
  <mat-card-content>
    <app-like-button [comment]="comment"></app-like-button>
    -
    <app-add-comment-button [id]="componentId" [isForArticle]="false"></app-add-comment-button>
    <span *ngIf="comment.subCommentCount>0">
      -
      <app-expand-comments [comment]="comment"></app-expand-comments>
    </span>
    <app-edit-comment [articleId]="articleId" [idParentComment]="comment.id" [id]="componentId"></app-edit-comment>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
